.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-container {
  padding: 20px;
  flex: 1;
}

/* You can remove the default React styling or keep parts of it if desired */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}